<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Startup Career Fair 2015 | Home</title>

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.css" />
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:css styles/main.css -->
  <link href="styles/theme.css" rel="stylesheet">
  <!-- endbuild -->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  <!-- Preloader -->
  <!--<div id="preloader">
<div id="load"></div>
</div>-->

  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="index.html">
          <h1>SCF2015</h1>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#intro">Home</a>
          </li>
          <li><a href="#about">About</a>
          </li>
          <li><a href="#companies">Companies</a>
          </li>
          <li><a href="#signup">Register</a>
            <li><a href="#faq">FAQ</a>
            </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>

  <!-- Section: intro -->
  <section id="intro" class="intro">

    <div class="slogan">
      <h2>STARTUP CAREER FAIR 2015</h2>
      <p>April 1st, 2015 | 12 - 4 PM </p>
      <p>Northwestern University | Norris Center</p>

      <div class="page-scroll">
        <a href="#signup" class="btn btn-default btn-huge">Register Now</a>
      </div>
    </div>

    <div class="logos">
      <div class="row">
        <div class="col-8-logos">
          <img src="images/logos/NCA_white.png" class="img-vertical-align img-responsive overlay">
        </div>
        <div class="col-8-logos">
          <img src="images/logos/McCormick_OfficeCareerDevelopment_white.png" class=" img-vertical-align img-responsive">
        </div>
        <div class="col-8-logos">
          <img src="images/logos/farley.png" class="img-vertical-align img-responsive">
        </div>
        <div class="col-8-logos">
          <img src="images/logos/EPIC-Logo-White.png" class="img-vertical-align img-responsive">
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1">
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>

        <div class="col-8-logos">
          <img src="images/logos/Kellogg_eClub_Logo.png" class="img-vertical-align img-responsive">
        </div>
        <div class="col-8-logos">
          <img src="images/logos/High_Tech_Club_White.png" class="img-vertical-align img-responsive">
        </div>
        <div class="col-8-logos">
          <img src="images/logos/kellogg_cmc_white.png" class="img-vertical-align img-responsive">
        </div>
        <div class="col-8-logos">
          <img src="images/logos/Kellogg_RGB_white.png" class="img-vertical-align img-responsive">
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: intro -->

  <!-- Section: about -->
  <section id="about" class="home-section text-center bg-gray">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>About</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>


      <div class="row about-info">
        <div class="col-xs-12 col-sm-6 col-md-6 padding-box">

          <h3><span class="color-maroon">GENERAL INFORMATION</span></h3>
          <h4><span class="color-maroon">TIME:</span> 12 - 4pm</h4>
          <h4><span class="color-maroon">DATE:</span> Wednesday, April 1st</h4>
          <h4><span class="color-maroon">LOCATION:</span> Norris Louis Room</h4>
          <h4><span class="color-maroon">DRESS:</span> Casual</h4>

        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 padding-box">

          <h3><span class="color-maroon">SCHEDULE</span></h3>
          <h4><span class="color-maroon">10 - 10:30am:</span> Company Check In</h4>
          <h4><span class="color-maroon">10:30am - 12pm:</span> Setup and Lunch</h4>
          <h4><span class="color-maroon">12 - 4 pm:</span> Startup Career Fair</h4>

        </div>
      </div>
  </section>
  <!-- /Section: about -->

  <!-- Section: companies -->
  <section id="companies" class="home-section text-center">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="section-heading">
              <h2>Companies Attending Include:</h2>
              <i class="fa fa-2x fa-angle-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>

      <div class="row" style="margin-top: 5em;">
        <div class="col-xs-1 col-md-4 companylogo">
        </div>
        <div class="col-xs-10 col-md-4 companylogo">
          <a href="https://www.avantcredit.com"><img src="images/companylogos/AvantCredit.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-1 col-md-4 companylogo">
        </div>
      </div>

      <div class="row" style="margin-top: 4em">
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="http://areyouahuman.com"><img src="images/companylogos/AreYouAHuman.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="http://www.bucketfeet.com"><img src="images/companylogos/Bucketfeet.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
           <a href="http://www.elementbars.com"><img src="images/companylogos/ElementBars.gif" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
           <a href="https://fullbridge.com"><img src="images/companylogos/Fullbridge.png" class="img-vertical-align img-responsive"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="http://www.jellyvision.com"><img src="images/companylogos/Jellyvision.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="http://linkcapital.com"><img src="images/companylogos/LinkCapital.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="http://meliorak.com"><img src="images/companylogos/MelioraK.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="http://www.narrativescience.com"><img src="images/companylogos/NarrativeScience.png" class="img-vertical-align img-responsive"></a>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="http://openmarketshealth.com"><img src="images/companylogos/OpenMarkets.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="https://www.opternative.com"><img src="images/companylogos/Opternative.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="https://gopangea.com"><img src="images/companylogos/Pangea.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="http://www.performics.com"><img src="images/companylogos/Performics.png" class="img-vertical-align img-responsive"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="https://phenixp2p.com"><img src="images/companylogos/PhenixP2P.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="#"><img src="images/companylogos/RentLikeAChampion.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="https://www.simplerelevance.com"><img src="images/companylogos/SimpleRelevance.png" class="img-vertical-align img-responsive"></a>
        </div>
        <div class="col-xs-6 col-md-3 companylogo">
          <a href="http://sproutsocial.com"><img src="images/companylogos/SproutSocial.png" class="img-vertical-align img-responsive"></a>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-md-3 companylogo col-md-offset-4-5">
          <a href="https://www.trunkclub.com"><img src="images/companylogos/TrunkClub.png" class="img-vertical-align img-responsive"></a>
        </div>
      </div>
  </section>
  <!-- /Section: companies -->


  <!-- Section: Sign Up -->
  <section id="signup" class="home-section text-center bg-gray">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
              <div class="section-heading">
                <h2>Register</h2>
                <i class="fa fa-2x fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">



        </div>
      </div>
      <div class="signup-form">
        <form ng-app="portal-signup" ng-controller="form-controller" ng-init="registration = {}" role="form">
          <div class="input-group name">
            <input type="text" placeholder="First Name" ng-model="registration.name.first">
            <input type="text" placeholder="Last Name" ng-model="registration.name.last">
          </div>
          <div class="input-group">
            <input type="text" placeholder="Valid Northwestern Email" ng-model="registration.email">
          </div>
          <div class="input-group gender">
            <div class="btn-group">
              <button type="button" class="btn btn-default" ng-click="setGender('male')" ng-class="{'active': registration.gender == 'male'}">
                Male
              </button>
              <button type="button" class="btn btn-default" ng-click="setGender('female')" ng-class="{'active': registration.gender == 'female'}">
                Female
              </button>
            </div>
          </div>
          <div class="input-group school">
            <label>School</label>
            <select ng-model="registration.school">
              <option value="mccormick">McCormick</option>
              <option value="weinberg">Weinberg</option>
              <option value="sesp">SESP</option>
              <option value="medill">Medill</option>
              <option value="bienen">Bienen</option>
              <option value="comm">School of Communications</option>
              <option value="kellogg">Kellogg</option>
              <option value="tgs">The Graduate School</option>
            </select>
          </div>
          <div class="input-group major">
            <label>Major</label>
            <select ng-model="registration.major" style="width: 75%; float: right">
              <option value="computerScience">Computer Science</option>
              <option value="economics">Economics</option>
              <option value="journalism">Journalism</option>
              <option value="politicalScience">Political Science</option>
              <option value="psychology">Psychology</option>
              <option value="mathematics">Mathematics</option>
              <option value="biologicalScience">Biological Science</option>
              <option value="communicationStudies">Communication Studies</option>
              <option value="history">History</option>
              <option value="internationalStudies">International Studies</option>
              <option value="theatre">Theatre</option>
              <option value="rtvf">Radio/Television/Film</option>
              <option value="industrialEngineering">Industrial Engineering</option>
              <option value="biomedialEngineering">Biomedical Engineering</option>
              <option value="mechanicalEngineering">Mechanical Engineering</option>
              <option value="chemicalEngineering">Chemical Engineering</option>
              <option value="mmss">Mathematical Methods in the Social Sciences</option>
              <option value="other">Other (Please Specify)</option>
            </select>
            <input type="text" placeholder="Specify your Major..." ng-model="registration.otherMajor" ng-show="registration.major == 'other'">
          </div>
          <div class="input-group year">
            <label>Class Year</label>
            <div class="radio-group">
              <input type="radio" name="year" value="Freshman" ng-model="registration.year">
              <label>Freshman</label>
              <input type="radio" name="year" value="Sophomore" ng-model="registration.year">
              <label>Sophomore</label>
              <input type="radio" name="year" value="Junior" ng-model="registration.year">
              <label>Junior</label>
            </div>
            <div class="radio-group">
              <input type="radio" name="year" value="Senior" ng-model="registration.year">
              <label>Senior</label>
              <input type="radio" name="year" value="Graduate Student" ng-model="registration.year">
              <label>Graduate Student</label>
              <input type="radio" name="year" value="Other" ng-model="registration.year">
              <label>Other</label>
            </div>
            <input type="text" name="other" placeholder="Please Elaborate..." class="form-control" ng-model="registration.yearOtherExplanation" ng-show="registration.year == 'Other'">
          </div>
          <div class="input-group seeking" ng-init="registration.seeking = {'fulltime': false, 'internship': false}">
            <label>I am Searching For <small>(choose at least one)</small>
            </label>
            <input type="checkbox" ng-model="registration.seeking.fulltime">
            <label>Full Time Positions</label>
            <input type="checkbox" ng-model="registration.seeking.internship">
            <label>Internships</label>
          </div>
          <div class="input-group international" ng-init="registration.international = false">
            <label>International?</label>
            <input type="checkbox" ng-model="registration.international">
            <label>I am an international student</label>
          </div>
          <div class="input-group resume">
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="pickFile()">
                  Upload Resume
                </button>
              </span>
            <input type="text" class="form-control" disabled ng-model="uploadedFilename">
          </div>
          <div class="alert alert-success" ng-show="success">
            <p>Successfully submitted!</p>
          </div>
          <div class="alert alert-warning" ng-show="!formValid()">
            <p>You have to fill out the form before the submit button will show! If everything's filled out, double check that all required fields are filled in and your email is a valid Northwestern email address.</p>
          </div>
          <div class="input-group" ng-show="formValid() && !success" class="ng-hide">
            <button class="btn btn-success btn-block" ng-click="submitForm()" ng-disabled="processing">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!--/Section: Sign Up -->


  <!-- Section: faq -->
  <section id="faq" class="home-section text-center ">
    <div class="heading-about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="wow bounceInDown" data-wow-delay="0.4s">
              <div class="section-heading">
                <h2>Frequently Asked Questions</h2>
                <i class="fa fa-2x fa-angle-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-lg-offset-5">
          <hr class="marginbot-50">
        </div>
      </div>

      <div class="faq-questions">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 padding-box">
            <h4>Should I bring my resume to the Career Fair?</h4>
            <p>Yes. Please bring paper copies of your resume in addition to uploading it during signup.</p>

          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 padding-box">
            <h4>I am a graduate student. Can I still come?</h4>
            <p>Yes. We will have a wide variety of employers looking for students with a wide variety of backgrounds.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 padding-box">
            <h4> How many startups will be looking for interns vs. full-time hires?</h4>
            <p>It will most likely be a nearly even split. Some startups will be looking for both.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 padding-box">
            <h4>Will there be any particular industry concentration, for instance, high-tech, at the Fair?</h4>
            <p>No. High-tech will be well-represented, but so will other industries.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 padding-box">
            <h4>How do I know what startups will be attending?</h4>
            <p> Startups attending should be listed on this site. We will also provide pamphlets on the day-of the Fair listing the startups and the positions they are seeking to fill.</p>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 padding-box">
            <h4>What stage startups will be in attendance?</h4>
            <p> Startups of all stages, from seed to already acquired, will be represented at the Fair.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Section: faq -->



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="wow shake" data-wow-delay="0.4s">
            <div class="page-scroll marginbot-30">
              <a href="#intro" id="totop" class="btn btn-circle">
                <i class="fa fa-angle-double-up animated"></i>
              </a>
            </div>
          </div>
          <p>&copy;Copyright 2015 - Northwestern Startup Career Fair. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- build:js scripts/vendor.js -->
  <!-- bower:js -->
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <script src="../bower_components/filepicker/filepicker.min.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/main.js -->
  <script src="scripts/jquery.easing.min.js"></script>
  <script src="scripts/jquery.scrollTo.js"></script>
  <!-- Custom Theme JavaScript -->
  <script src="scripts/custom.js"></script>
  <!-- endbuild -->

  <!-- build:js scripts/angular/all.js -->
  <script src="scripts/angular/portal-signup.js"></script>
  <script src="scripts/angular/factories/form-submitter.js"></script>
  <script src="scripts/angular/controllers/signup-form.js"></script>
  <!-- endbuild -->

</body>

</html>